*{
    margin: 0;
    padding: 0;
}

body{
    background-image:url(../img/71-713163_avicii-concert-wallpaper-avicii-in-concert.jpg);
}

p{
    color: rgb(176, 174, 174);
}

header img{
    width: 100%;
    height: 20em;
    margin: 3em;
}

nav{
    background-color: rgb(39, 38, 38);
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 1em;
    border: solid 0.1em rgb(176, 174, 174);
}

nav:hover{
    cursor: default;
}

nav li{
    display: inline-block;
    margin: 2em;
    margin-right: 5em;
    padding: 0.5em;
    cursor: pointer;
    border: solid 0.1em rgb(176, 174, 174);
}

nav a{
    text-decoration: none;
    color: rgb(176, 174, 174);
}

nav li:hover{
    background-color: grey;
}

aside{
    width: 100%;
    margin: 1em;
    display: inline-block;
}

#div1{
    float: right;
    margin-right: 40em;
    background-color: rgb(39, 38, 38);
    border: solid 0.1em rgb(176, 174, 174);
    padding: 2em;
}

#div2{
    float: left;
}

aside label{
    color: rgb(176, 174, 174);
}

aside textarea{
    margin-left: 1em;
}

aside input{
    margin-bottom: 1em;
    color: rgb(176, 174, 174);
    margin-left: 1em;
}

footer{
    width: 100%;
    padding: 1em;
    margin: 1em;
    border: solid 0.1em rgb(176, 174, 174);
    background-color: rgb(39, 38, 38);
    display: inline-block;
    text-align: center;
}

footer p{
    margin-bottom: 1em;
    margin-left: 2em;
    color: rgb(176, 174, 174);
}

footer p:hover{
    cursor: default;
}

footer img{
    height: 3em;
    width: 3em;
    margin-left: 2em;
}

footer img:hover{
    cursor: pointer;
}